{{#GHMDGeneratorHeading}}{{title}}{{/GHMDGeneratorHeading}}

{{! ---------- description ---------- }}

{{{description}}}

{{! ---------- /description ---------- ~}}

---

{{~! ---------- TOC ---------- }}

{{#each endpoints~}}
* <a name="{{#slugify}}{{path}} toc{{/slugify}}"></a> [{{path}}](#{{#slugify}}{{path}}{{/slugify}})
{{~#each operations}} [<a name="{{#slugify}}{{../../path}} {{method}} toc{{/slugify}}"></a>[{{method}}](#{{#slugify}}{{../../path}} {{method}}{{/slugify}})]{{/each}}
{{!--
{{#each operations}}
    * <a name="{{#slugify}}{{../../path}} {{method}} toc{{/slugify}}"></a> [{{method}}](#{{#slugify}}{{../../path}} {{method}}{{/slugify}})
{{/each~}}
--}}
{{~/each}}

{{! ---------- /TOC ---------- }}

---

{{! document special headers }}
{{! document security model }}

{{~! ---------- endpoints ---------- ~}}

{{#each endpoints}}

{{#GHMDGeneratorHeading level=2}}<a name="{{#slugify}}{{path}}{{/slugify}}"></a>{{path}}{{/GHMDGeneratorHeading}} [[&#x2191;](#{{#slugify}}{{path}} toc{{/slugify}})]

{{#if description~}}
{{description}}
{{~/if~}}

{{! ---------- operations ---------- }}

{{#each operations~}}

{{#GHMDGeneratorHeading level=3}}<a name="{{#slugify}}{{../../../path}} {{method}}{{/slugify}}"></a>`{{method}}` -- {{../../path}} {{/GHMDGeneratorHeading}} [[&#x2191;](#{{#slugify}}{{../../path}} {{method}} toc{{/slugify}})]

{{#if description~}}
{{description}}
{{~/if}}

{{! ---------- operation parameters ---------- ~}}

{{#ifnotempty parameters~}}

{{#GHMDGeneratorHeading level=3}}Parameters{{/GHMDGeneratorHeading}}

---

<table>
<tr>
<th> name </th>
<th> description </th>
<th> required </th>
<th> location </th>
<th> default </th>
<th> schema </th>
</tr>

{{#each parameters}}
{{#each this}}

{{!--

{{#GHMDGeneratorHeading level=4}}{{name}}{{/GHMDGeneratorHeading}}

{{#if description}}
{{description}}
{{/if}}

<table>
<tr>
<th> required </th>
<th> location </th>
<th> default </th>
<th> schema </th>
</tr>
<tr>
<td> {{required}} </td>
<td> {{location}} </td>
<td> 
{{#ifisobject default~}}
`{{#GHMDGeneratorRenderSchema default}}{{/GHMDGeneratorRenderSchema}}`
{{else}}
{{#definedornull default}}{{/definedornull}}
{{/ifisobject}}
</td>
<td>
{{#if schema~}}
<pre><code>
{{~#GHMDGeneratorRenderSchema schema}}{{/GHMDGeneratorRenderSchema~}}
</code></pre>
{{else}}
null
{{~/if}}
</td>
</tr>
</table>

--}}

<tr>
<td valign="top"> {{name}} </td>
<td valign="top"> {{description}} </td>
<td valign="top"> {{#if required}}yes{{else}}no{{/if}} </td>
<td valign="top"> {{location}} </td>
<td valign="top"> 
{{#ifisobject default~}}
<code>{{#GHMDGeneratorRenderSchema default}}{{/GHMDGeneratorRenderSchema}}</code>
{{else}}
<code>{{#definedornull default}}{{/definedornull}}</code>
{{/ifisobject}}
</td>
<td valign="top">
{{#if schema~}}
<pre><code>
{{~#GHMDGeneratorRenderSchema schema}}{{/GHMDGeneratorRenderSchema~}}
</code></pre>
{{else}}
<code>null</code>
{{~/if}}
</td>
</tr>

{{!--

{{#GHMDGeneratorHeading level=4}}{{name}}{{/GHMDGeneratorHeading}}

{{#if description}}
{{description}}
{{/if}}

* required: {{required}}
* location: {{location}}
{{#if default~}}
{{#ifisobject default~}}
* default

{{#indent~}}
{{#GHMDGeneratorCodeBlock}}
{{#GHMDGeneratorRenderSchema default}}{{/GHMDGeneratorRenderSchema}}
{{/GHMDGeneratorCodeBlock}}
{{~/indent}}

{{else}}
* default: `{{default}}`
{{/ifisobject}}
{{/if}}
{{#if schema~}}
* schema

{{#indent~}}
{{#GHMDGeneratorCodeBlock}}
{{#GHMDGeneratorRenderSchema schema}}{{/GHMDGeneratorRenderSchema}}
{{/GHMDGeneratorCodeBlock}}
{{~/indent}}

{{~/if}}

--}}

{{/each}}

{{/each}}

</table>


{{/ifnotempty}}

{{! ---------- /operation parameters ---------- ~}}

{{! ---------- request schema ---------- ~}}

{{! XXX: request schema }}

{{! ---------- /request schema ---------- ~}}

{{! ---------- response schema ---------- ~}}

{{#if responseSchema }}
{{#GHMDGeneratorHeading level=3}}Response Schema{{/GHMDGeneratorHeading}}

---

{{!-- {{#GHMDGeneratorCodeBlock}}
{{#GHMDGeneratorRenderSchema responseSchema}}{{/GHMDGeneratorRenderSchema}}
{{/GHMDGeneratorCodeBlock}}
--}}
<pre><code>
{{~#GHMDGeneratorRenderSchema responseSchema}}{{/GHMDGeneratorRenderSchema~}}
</code></pre>
{{/if}}


{{! ---------- /response schema ---------- ~}}

{{! ---------- error responses ---------- ~}}

{{#if errorResponses~}}
{{#GHMDGeneratorHeading level=4}}Error Responses{{/GHMDGeneratorHeading}}

{{~#each errorResponses}}
* {{@key}}
    * {{description}}
{{~/each~}}
{{~/if~}}

{{! ---------- /error responses ---------- ~}}

{{! ---------- examples ---------- ~}}

{{~#each example~}}

{{! XXX: code blocks }}
{{! XXX: description }}
{{! XXX: example request }}
{{! XXX: example response }}

{{~/each~}}

{{! ---------- /examples ---------- ~}}

{{~/each~}}

{{! ---------- /operations ---------- }}

{{~/each~}}

{{~! ---------- /endpoints ---------- ~}}

