{{#GHMDGeneratorHeading}}{{title}}{{/GHMDGeneratorHeading}}

{{! ---------- description ---------- }}

{{{description}}}

{{! ---------- /description ---------- ~}}

---

{{~! ---------- TOC ---------- }}

{{#each endpoints~}}
* [{{path}}](#{{#slugify}}{{path}}{{/slugify}})
{{#each operations}}
    * [{{method}}](#{{#slugify}}{{../../path}} {{method}}{{/slugify}})
{{/each~}}
{{~/each}}

{{! ---------- /TOC ---------- }}

---

{{! document special headers }}
{{! document security model }}

{{~! ---------- endpoints ---------- ~}}

{{#each endpoints}}

{{#GHMDGeneratorHeading level=2}}<a name="{{#slugify}}{{path}}{{/slugify}}"></a>{{path}}{{/GHMDGeneratorHeading}}

{{#if description~}}
{{description}}
{{~/if~}}

{{! ---------- operations ---------- }}

{{#each operations~}}

{{#GHMDGeneratorHeading level=3}}<a name="{{#slugify}}{{../../../path}} {{method}}{{/slugify}}"></a>{{method}}{{/GHMDGeneratorHeading}}

{{#if description~}}
{{description}}
{{~/if}}

{{! ---------- operation parameters ---------- ~}}

{{#ifnotempty parameters~}}

{{#GHMDGeneratorHeading level=3}}Parameters{{/GHMDGeneratorHeading}}

---

{{#each parameters}}
{{#each this}}

{{#GHMDGeneratorHeading level=4}}{{name}}{{/GHMDGeneratorHeading}}

{{#if description}}
{{description}}
{{/if}}

* required: {{required}}
* location: {{location}}
{{#if default~}}
{{#ifisobject default~}}
* default

{{#indent~}}
{{#GHMDGeneratorCodeBlock}}
{{#GHMDGeneratorRenderSchema default}}{{/GHMDGeneratorRenderSchema}}
{{/GHMDGeneratorCodeBlock}}
{{~/indent}}

{{else}}
* default: `{{default}}`      {{! XXX: this could be an object... }}
{{/ifisobject}}
{{/if}}
{{#if schema~}}
* schema

{{#indent~}}
{{#GHMDGeneratorCodeBlock}}
{{#GHMDGeneratorRenderSchema schema}}{{/GHMDGeneratorRenderSchema}}
{{/GHMDGeneratorCodeBlock}}
{{~/indent}}

{{~/if}}

{{/each}}

{{/each}}

{{/ifnotempty}}

{{! ---------- /operation parameters ---------- ~}}

{{! ---------- request schema ---------- ~}}

{{! XXX: request schema }}

{{! ---------- /request schema ---------- ~}}

{{! ---------- response schema ---------- ~}}

{{#if responseSchema }}
{{#GHMDGeneratorHeading level=3}}Response Schema{{/GHMDGeneratorHeading}}

---

{{#GHMDGeneratorCodeBlock}}
{{#GHMDGeneratorRenderSchema responseSchema}}{{/GHMDGeneratorRenderSchema}}
{{/GHMDGeneratorCodeBlock}}
{{/if}}

{{! ---------- /response schema ---------- ~}}

{{! ---------- error responses ---------- ~}}

{{#if errorResponses~}}
{{#GHMDGeneratorHeading level=4}}Error Responses{{/GHMDGeneratorHeading}}

{{~#each errorResponses}}
* {{@key}}
    * {{description}}
{{~/each~}}
{{~/if~}}

{{! ---------- /error responses ---------- ~}}

{{! ---------- examples ---------- ~}}

{{~#each example~}}

{{! XXX: code blocks }}
{{! XXX: description }}
{{! XXX: example request }}
{{! XXX: example response }}

{{~/each~}}

{{! ---------- /examples ---------- ~}}

{{~/each~}}

{{! ---------- /operations ---------- }}

{{~/each~}}

{{~! ---------- /endpoints ---------- ~}}

