[back to ToC](/{{indexPath}})

{{#MDHeading level=2}}{{path}}{{/MDHeading}}

{{#if description~}}
{{description}}
{{~/if~}}

{{! ---------- operations ---------- }}

{{#each operations~}}

{{#MDHeading level=3}}{{!-- <a name="{{#slugify}}{{../../../path}} {{method}}{{/slugify}}"></a> --}}`{{method}}`{{/MDHeading}}

{{#if description~}}
{{description}}
{{~/if}}

{{! ---------- operation parameters ---------- ~}}

{{#ifnotempty parameters~}}

{{#MDHeading level=3}}Parameters{{/MDHeading}}

---

<table>
<tr>
<th> name </th>
<th> description </th>
<th> required </th>
<th> location </th>
<th> default </th>
<th> schema </th>
</tr>

{{#each parameters}}
{{#each this}}


<tr>
<td valign="top"> {{name}} </td>
<td valign="top"> {{description}} </td>
<td valign="top"> {{#if required}}yes{{else}}no{{/if}} </td>
<td valign="top"> {{location}} </td>
<td valign="top"> 
<code>
{{~#definedornull default}}
{{MDRenderSchema default}}
{{~/definedornull~}}
</code>
</td>
<td valign="top">
{{#if schema~}}
<pre><code>
{{~MDRenderSchema schema}}
</code></pre>
{{else}}
<code>null</code>
{{~/if}}
</td>
</tr>

{{/each}}

{{/each}}

</table>


{{/ifnotempty}}

{{! ---------- /operation parameters ---------- ~}}

{{! ---------- request schema ---------- ~}}

{{! XXX: request schema }}

{{! ---------- /request schema ---------- ~}}

{{! ---------- response schema ---------- ~}}

{{#if responseSchema }}
{{#MDHeading level=3}}Response Schema{{/MDHeading}}

---

<pre><code>
{{~MDRenderSchema responseSchema}}
</code></pre>
{{/if}}


{{! ---------- /response schema ---------- ~}}

{{! ---------- error responses ---------- ~}}

{{#if errorResponses~}}
{{#MDHeading level=4}}Error Responses{{/MDHeading}}

{{~#each errorResponses}}
* {{@key}}
    * {{description}}
{{~/each~}}
{{~/if~}}

{{! ---------- /error responses ---------- ~}}

{{! ---------- examples ---------- ~}}

{{~#each example~}}

{{! XXX: code blocks }}
{{! XXX: description }}
{{! XXX: example request }}
{{! XXX: example response }}

{{~/each~}}

{{! ---------- /examples ---------- ~}}

{{~/each~}}

{{! ---------- /operations ---------- }}

[back to ToC](/{{indexPath}})
