{{#MDHeading}}{{title}}{{/MDHeading}}

{{! ---------- description ---------- }}

{{{description}}}

{{> ServiceHelp }}

{{! ---------- /description ---------- ~}}

---

{{~! ---------- TOC ---------- }}

{{#each endpoints~}}
* <a name="{{#slugify}}{{path}} toc{{/slugify}}"></a> [{{path}}](#{{#slugify}}{{path}}{{/slugify}})
{{#each operations}}
    * <a name="{{#slugify}}{{../path}} {{method}} toc{{/slugify}}"></a> [`{{method}}`](#{{#slugify}}{{../path}} {{method}}{{/slugify}})
{{/each~}}
{{/each}}

{{! ---------- /TOC ---------- }}

---

{{! document special headers }}
{{! document security model }}

{{~! ---------- endpoints ---------- ~}}

{{#each endpoints}}

{{#MDHeading level=2}}<a name="{{#slugify}}{{path}}{{/slugify}}"></a>{{path}}{{/MDHeading}} [[&#x2191;](#{{#slugify}}{{path}} toc{{/slugify}})]

{{#if description~}}
{{description}}
{{~/if~}}

{{! ---------- operations ---------- }}

{{#each operations~}}

{{#MDHeading level=3}}<a name="{{#slugify}}{{../path}} {{method}}{{/slugify}}"></a>`{{method}}` -- {{../path}} {{/MDHeading}} [[&#x2191;](#{{#slugify}}{{../path}} {{method}} toc{{/slugify}})]

{{#if description~}}
{{description}}
{{~/if}}

{{! ---------- operation parameters ---------- ~}}

{{#ifnotempty parameters~}}

{{#MDHeading level=3}}Parameters{{/MDHeading}}

---

<table>
<tr>
<th> name </th>
<th> description </th>
<th> required </th>
<th> location </th>
<th> default </th>
<th> schema </th>
</tr>

{{#each parameters}}
{{#each this}}

<tr>
<td valign="top"> {{name}} </td>
<td valign="top"> {{description}} </td>
<td valign="top"> {{#if required}}yes{{else}}no{{/if}} </td>
<td valign="top"> {{location}} </td>
<td valign="top">
<code>
{{~#definedornull default}}
{{MDRenderSchema default}}
{{~/definedornull~}}
</code>
</td>
<td valign="top">
{{#if schema~}}
<pre><code>
{{~MDRenderSchema schema~}}
</code></pre>
{{else}}
<code>null</code>
{{~/if}}
</td>
</tr>

{{/each}}

{{/each}}

</table>


{{/ifnotempty}}

{{! ---------- /operation parameters ---------- ~}}

{{! ---------- request schema ---------- ~}}

{{! XXX: request schema }}

{{! ---------- /request schema ---------- ~}}

{{! ---------- response schema ---------- ~}}

{{> GHMDResponses }}

{{! ---------- /response schema ---------- ~}}

{{! ---------- examples ---------- ~}}

{{~#each example~}}

{{! XXX: code blocks }}
{{! XXX: description }}
{{! XXX: example request }}
{{! XXX: example response }}

{{~/each~}}

{{! ---------- /examples ---------- ~}}

{{~/each~}}

{{! ---------- /operations ---------- }}

{{~/each~}}

{{~! ---------- /endpoints ---------- ~}}

